html, body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: block;
    background: #5a7b99;
}

.drafts-section{
    overflow: auto;
    padding: 5px;
    background: #5a7b99;
}

.draft-unit{
    background: #fff;
    min-width: 31%;
    margin: 10px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    display: block;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 50%);
    border-radius: 25px;
    transition: 0.5s;
}

.draft-unit > p{
    color: #224467;
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 600px) {
    .draft-unit{
        min-width: 48%;
        transition: 0.5s;
    }
}

@media (max-width: 500px) {
    .draft-unit{
        min-width: 98%;
        transition: 0.5s;
    }
}
/*nombre*/

.draft-unit h2{
    margin-left: 15px;
    color: #384553;
    cursor:default;
    display: inline;
}
/*status*/

.draft-unit h4{
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
}


.status-en-diseño{
    background-color: rgb(18, 117, 156);
}

.status-en-desarrollo{
    background-color: rgb(204, 201, 18);
}

.status-en-pruebas{
    background-color: rgb(202, 128, 16);
}

.status-implementado{
    background-color: rgb(58, 179, 21);
}
/*id*/

.draft-unit h3{
    
    margin-left: inherit;
    font-size: medium;
    color: #707c88;
    cursor:default;
    display: inline;
}
/*Pagindado*/

.seleccion-Drafts{
    width: 100%;
    height: 100%;
    transition: .5s;
}
@media (max-width: 600px) {
    .seleccion-Drafts{
        display: inline-flex;
        transition: .5s;
    }
}


.header-section-card{
    height: 40px;
}

.ul-Item-section-card{
    padding-left: 0px;
    margin-top: 16px;
    display: inline-block;
}
/*Carpeta draft*/


.card-drafts{
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #c5e1fde3;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.selected-drafts{
    display: flex;
}
/*Carpeta draft*/

.Item-section-card{
    color: #495057;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}

.Item-section-card a{
    text-decoration: none;
    cursor: pointer;
    font-size: large;
    padding-left: 1em;
    padding-right: 1.5em;
}

.seleccionado-draft{
    color: rgb(18, 117, 156);
    background-color: #fff;
    margin-bottom: -1px;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    transition: 0.5s;
}

.Item-section-card:hover {
    background-color: rgb(100, 121, 189);
    color: rgb(233, 233, 233);
    margin-bottom: -1px;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    list-style: none;
    flex-direction: column;
    min-width: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    transition: 1s;
}

/*boton*/

.buttom-draft{
    all: inherit;
    text-align: center;
    border: 0px;
    cursor: pointer;
    background-color: #00000017;
    color: #000000;
    transition: .5s;
    font-weight: bold;
    min-width: 100px;
}

.buttom-draft:hover{
    background: #5a7b99;
    color: ivory;
}